body {
	background-color:chocolate;
}

#reset {
	margin-left: 47%;
	margin-right: 47%;
	border-radius: 10%;
	border-style: none;
	background-color: brown;
	color: white;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vh;
	overflow: hidden;
}

.square {
    background-color: black;
	height:auto;
	min-height: min-content;
	/*flex: 1 0 6%;		100/grid_size */
}

.square:before {
	content: '';
    display: block;
    padding-top: 100%;
}

.active {
	background-color: brown;
}